<!DOCTYPE html>
<script src="../checkCountry.js" ></script>
<html>
    <script src="../../header.js"></script>
    <body>
        <div class="body">
            <script src="menu2.js"></script>
                    <div class="container">
                        <div class="row">
                            <hr class="tall" />
                        </div>
                    </div>

                    <div class="container">

                        <div class="row">
                            <div class="col-md-8">
                                <h2>Our <strong>Services</strong></h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-group"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">Customer Support</h4>
                                                <p class="tall">Customers come first.</p>
                                            </div>
                                        </div>
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-file"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">Free Assembly</h4>
                                                <p class="tall">All products will be assembled free.</p>
                                            </div>
                                        </div>
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-google-plus"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">1 Year Warranty</h4>
                                                <p class="tall">All our products come with 1 year warranty.</p>
                                            </div>
                                        </div>
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-adjust"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">Colors</h4>
                                                <p class="tall">Furnitures have different colours.</p>
                                            </div>
                                        </div>
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-gear"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">Spare Parts</h4>
                                                <p class="tall">All products come with spare parts for repairing furniture.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-film"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">Professional Design</h4>
                                                <p class="tall">Designed by state of the art technologies.</p>
                                            </div>
                                        </div>
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-user"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">Kitchen</h4>
                                                <p class="tall">We sell top Asian cuisines.</p>
                                            </div>
                                        </div>
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-bars"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">Technology</h4>
                                                <p class="tall">Download our mobile app now.</p>
                                            </div>
                                        </div>
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-desktop"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">High Quality</h4>
                                                <p class="tall">All products come with qualitative design.</p>
                                            </div>
                                        </div>
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon icon-gift"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">Gift Cards</h4>
                                                <p class="tall">Surprise someone with a nice birthday gift.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>       
                <script src="../footer.js"></script>
            <!-- Theme Initializer -->
            <script src="/js/theme.plugins.js" type='text/javascript'></script>
            <script src="/js/theme.js" type='text/javascript'></script>

            <!-- Current Page JS -->
            
            <script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js" type='text/javascript'></script>
            <script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.js" type='text/javascript'></script>
            <script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.js" type='text/javascript'></script>
            <script src="/js/views/view.home.js" type='text/javascript'></script>   
        </div>

    </body>
</html>